.menu{
    background-color: aliceblue;
    width: 400px;
    position: absolute;
    
    z-index: 99;
    border-radius: 10px;
    height: 500px;
    }




.List{
display: flex;
flex-direction: column;

}

/*******************************************************************************************************************/
.notifi-box {
width: 450px;
position: absolute;
height: 500px;
top: 0px;
right: -210px;
overflow:auto;
background-color: white;
border-radius: 10px;
transition: 1s opacity, 250ms height;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
z-index: 99;
}



.notifi-item {
border-bottom: 1px solid #eee;
padding: 10px 3px; 
display: flex;
cursor: pointer;

}
.img{
    margin-left: 10px;
    margin-right: 15px;
}
.img img{
    width: 150px;
} 
.notifi-item:hover {
background-color: #eee;
}


::-webkit-scrollbar {
width: 12px;
height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid rgb(214, 214, 213);
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: rgb(173, 173, 173);  
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: rgb(112, 106, 106);  
}