<header class="section-header">
  <app-user-navigation></app-user-navigation>
    <!-- header-main end.// -->
    <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
      <div class="container">
        <button
          class="navbar-toggler border"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar_main"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar_main">
          <ul class="navbar-nav" style="width: 100%; display: flex; justify-content:space-evenly"
          >
            <li class="nav-item">
              <a class="nav-link ps-0"  routerLink="/Alllistproduit"   > tout </a>
            </li> 

            <li class="nav-item">
              <a class="nav-link ps-0"  (click)="goto(' SCOLAIRE ')"> SCOLAIRE </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link pointer"  (click)="goto(' Bureautique  ')"> Bureautique  </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" (click)="goto('Univers Telephonie')">Univers Telephonie</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link"  (click)="goto('Univers Gaming')">Univers Gaming</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  (click)="goto('Informatique')">Informatique</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' TV-Son-Photos ')">TV-Son-Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"   (click)="goto(' Sécurité ')">Sécurité</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Réseau & Connectiques ')">Réseau & Connectiques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Stockage ')">Stockage</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Téléphonie & Tablette ')">Téléphonie & Tablette</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Montres ')">Montres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Impression ')">Impression</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Accessoires ')">Accessoires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Electroménager ')">Electroménager</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Sécurité & Réseaux ')"> Sécurité & Réseaux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="goto(' Gaming ')">Gaming</a>
            </li>
            
            
          </ul>
        </div>
        <!-- collapse end.// -->
      </div>
      <!-- container end.// -->
    </nav>
    <!-- navbar end.// -->
  </header>
  