<section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a  class="navbar-brand" routerLink="/Alllistproduit"> Bon-Plan </a>
          <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-12 col-sm-4 col-4" >
          <div class="float-end">
            <a routerLink="/login" class="btn btn-light" *ngIf="!connected">
              <i class="fa fa-user"></i>
              <span class="ms-1 d-none d-sm-inline-block">S'identifier </span>
            </a>
            <a  class="btn btn-light" (click)="logout()" *ngIf="connected">
              <i class="fa fa-user"></i>
              <span class="ms-1 d-none d-sm-inline-block"
              
              >se déconnecter </span>
            </a>
            <a (click)="openClosewishlist()" class="btn btn-light" *ngIf="connected">
              <i class="fa fa-heart"></i>
              <span class="ms-1 d-none d-sm-inline-block" >Liste de souhaits</span>
            </a>

            <div style="position: absolute;"  *ngIf="wishlist">      
              <app-wishlist></app-wishlist>

            </div>  

            

            <a
              *ngIf="connected"
              (click)="openClosecommentaire()"
              data-bs-toggle="offcanvas"
              href="#offcanvas_cart"
              class="btn btn-light"
            >
              
              <span class="ms-1">mes commentaires</span>
             </a>
             <div style="position: absolute;" *ngIf="commentaire">      
              <app-commentaire-user-list></app-commentaire-user-list>

            </div> 
      

            <a
              *ngIf="connected"
              routerLink="/GererCompte"
              class="btn btn-light"
            >
              
              <span class="ms-1">gérer mon compte</span>
            </a>


          </div>
        </div>
        <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
        
        </div>
        <!-- col end.// -->
      </div>
      <!-- row end.// -->
    </div>
    <!-- container end.// -->
  </section>
