.notifi {
    border-bottom: 1px solid #0e0c0c58;
    padding: 10px 15px; 
    display: flex;
    cursor: pointer;
    color:rgb(0, 0, 0);

    }   

    .fontBox{
        height: 60px; width: 60px; border: 1px solid black; border-radius: 60px; display: flex; align-items: center; justify-content: center;
    }       


   .comment {
    font-size: 15px;
    transform: translateY(-15px);
  }  

  .commentBox{
    display: flex;
    flex-direction: column;
    margin-left: 4px;
  }